/*banner*/

#banner {
  background: url(../images/common/banner.jpg)no-repeat center bottom;
  background-size: cover;
  padding: 604px 0 58px;
  margin: -272px 0 0;
  text-align: center;
  h1{
    font-family: "Elephant";
    font-weight: 400;
    font-size: 55px;
    line-height: 69px;
    margin-bottom: 9px;
    color: #FFF;
  }
  p.desc{
    font-family: "Century Gothic";
    font-weight: 400;
    font-size: 28px;
    color: #FFF;
    line-height: 38px;
    margin: 0 0 22px;
  }
  .button{
    text-align: center;
    max-width: 232px;
    width: 100%;
    font-family: "Century Gothic";
    font-weight: 400;
    font-size: 22px;
    color: #FFF;
    padding: 13.5px 0;
    border:1px solid #FFF;
    margin-bottom: 24px;
    display: inline-block;
    background: none;
    transition: all 0.5s ease;
    &:hover{
      background: #ddd;
      border:1px solid #ddd;
      color: #000;
    }
  }
  .phone{
    font-family: "Elephant";
    font-weight: 400;
    font-size: 45px;
    line-height: 57px;
    color: #FFF;
    margin: 0;
    text-shadow: 0 0 20px #000,0 0 20px #000,
  }
}
