/*footer*/

#footer {
  background: #000000;
  padding: 45px 0 20px;
  .row{
    max-width: 1160px;
  }
  .flex-container{
    margin: 20px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    .ft-Left, .ft-Mid, .ft-Right{
      width: (100%/3);
    }
    .ft-Left{
      .text{
        text-align: left;
        max-width: 278px;
        margin: 30px auto 0 0;
        p{
          font-family: "Raleway";
          font-weight: 500;
          font-size: 13px;
          color: #FFF;
          margin-bottom: 30px;
          &.phone{
            span{
              margin-top: 10px;
              display: block;
              font-family: "Century Gothic";
              font-size: 35px;
              font-weight: 700;
            }
          }
          &.email{
            span{
              margin-top: 10px;
              display: block;
              font-family: "Century Gothic";
              font-size: 16px;
              font-weight: 700;
            }
          }
        }
      }
    }
    .ft-Mid{
      text-align: center;
      img{
        max-width: 272px;
        width: 90%;
      }
    }
    .ft-Right{
      text-align: left;
      .text{
        margin: 30px 0 0 auto;
        max-width: 192px;
        p{
          font-family: "Raleway";
          font-weight: 500;
          font-size: 13px;
          color: #FFF;
          margin-bottom: 30px;
          span{
            margin-top: 10px;
            &.we{
              img{
                margin-top: 10px;
              }
            }
            &.sm{
              display: block;
              font-size: 42px;
              letter-spacing: -4px;
              line-height: 32px;
            }
          }
        }
      }
    }
  }
  .ft-nav{
    ul{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      max-width: 553px;
      margin: 50px auto 30px;
      li{
        a{
          font-family: "Raleway";
          font-weight: 400;
          font-size: 15px;
          color: #FFF;
          text-transform: uppercase;
        }
      }
    }
  }
  .copy, .silver{
    font-family: "Century Gothic";
    font-weight: 400;
    font-size: 14px;
    color: #FFF;
    margin: 5px auto;
  }
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
}
