/*header*/

#header {
  background: none;
  padding: 0;
  position: relative;
  z-index: 999;
  .hdTop{
    background: #00B200;
    padding: 1px 0;
    min-height: 37px;
    margin: 0 0 24px;
    .flex-container{
      max-width: 1160px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      .hdTopLeft{
        width: (100%/3);
        text-align: left;
        p{
          margin: 0 auto;
          color: #FFF;
          font-size: 26px;
          span{
            display: inline-block;
            vertical-align: middle;
            font-family: "Century Gothic";
            font-weight: 700;
            font-size: 13px;
          }
        }
      }
      .hdTopMid{
        width: (100%/3);
        text-align: center;
        p{
          margin: 0 auto;
          color: #FFF;
          font-family: "Century Gothic";
          font-size: 16;
          font-weight: 400;
          span{
            display: inline-block;
            vertical-align: middle;
            font-weight: 700;
            font-size: 13px;
          }
        }
      }
      .hdTopRight{
        width: (100%/3);
        text-align: right;
        p{
          margin: 0 auto;
          color: #FFF;
          font-family: "Century Gothic";
          font-weight: 700;
          font-size: 25px;
          span{
            display: inline-block;
            vertical-align: middle;
            font-size: 13px;
          }
        }
      }
    }
  }
  .desktop-nav{
    nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      a#pull {
        display: none;
      }
      img.mainLogo1{
        max-width: 272px;
        width: 100%;
      }
      ul {
        margin: 0;
        padding: 0;
        &.nav-left{
          max-width: 370px;
          width: 100%;
          margin-top: 36px;
          display: flex;
          justify-content: space-between;
          flex-wrap: nowrap;
          align-items: flex-start;
          li {
            display: inline-block;
            vertical-align: middle;
            a {
              font-family: "Century Gothic";
              font-weight: 400;
              font-size: 15px;
              color: #000000;
              padding: 16px 23px;
              text-transform: uppercase;
            }
            &.active-menu a, a:hover {
              color: #00B200;
              font-weight: 700;
              border:1px solid #00B200;
            }
          }
        }
        &.nav-right{
          max-width: 370px;
          width: 100%;
          margin-top: 36px;
          display: flex;
          justify-content: flex-end;
          flex-wrap: nowrap;
          align-items: space-between;
          li {
            display: inline-block;
            vertical-align: middle;
            a {
              font-family: "Century Gothic";
              font-weight: 400;
              font-size: 15px;
              color: #000000;
              padding: 16px 23px;
              text-transform: uppercase;
            }
            &.active-menu a, a:hover {
              color: #00B200;
              font-weight: 700;
              border:1px solid #00B200;
            }
          }
        }
      }
    }
  }
  .mobile-nav{
    display: none;
  }
}
