/*--------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------Our Services Section----------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#services{
  padding: 30px 0 0;
  .container{
    background: #FFF;
    box-shadow: 0 0 40px -15px;
    padding: 40px 0 50px;
    position: relative;
    .flex-container{
      max-width: 1160px;
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
      dl{
        position: relative;
        max-width: 270px;
        dt{
          img{
            width: 100%;
          }
        }
        dd{
          position: relative;
          min-height: 90px;
          margin: 0;
          font-family: "Elephant";
          font-size: 25px;
          font-weight: 400;
          color: #00B200;
          line-height: 34px;
          span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        &::after{
          content: '';
          width: 180px;
          height: 13px;
          background: #000;
          position: absolute;
          top: -6.5px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    p.info1{
      max-width: 709px;
      width: 100%;
      margin: 30px auto 0;
      font-family: "Century Gothic";
      font-size: 25px;
      font-weight: 700;
      color: #444444;
    }
    p.info2{
      margin: 0 auto 10px;
      font-family: "Century Gothic";
      font-size: 14px;
      font-weight: 700;
      color: #777777;
    }
    p.phone{
      margin: 0 0 40px;
      font-family: "Elephant";
      font-size: 45px;
      font-weight: 400;
      color: #00B200;
    }
    .btn{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -22px;
    }
  }
}
