/*--------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------welcome section------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#welcome{
  padding: 69px 0 0;
  .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    .img1{
      max-width: 731px;
      width: 60%;
    }
    .wlcRight{
      margin: 0 0 0 -90px;
      max-width: 572px;
      width: 100%;
      h1{
        text-align: left;
        font-family: "Elephant";
        font-weight: 400;
        font-size: 96px;
        color: #00B200;
        line-height: 80%;
        span{
          display: block;
          margin-left: 60px;
          font-size: 60px;
          color: #777777;
        }
      }
      .box{
        margin: 10px 0 0 0;
        text-align: left;
        padding: 38px 0 45px;
        max-width: 572px;
        width: 100%;
        background: #FFF;
        box-shadow: 0 0 40px -15px #000;
        .text{
          max-width: 514px;
          width: 90%;
          margin: 0 auto;
          p{
            margin: 0 0 20px 0;
            font-family: "Century Gothic";
            font-size: 15px;
            font-weight: 400;
            color: #444444;
            line-height: 24px;
          }
        }
      }
    }
  }
}
