/*--------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------contact section------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#contact{
  padding: 94px 0 0;
  .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    .cntLeft{
      position: relative;
      z-index: 1;
      margin: 0 -62px 0 48px;
      width: 100%;
      max-width: 508px;
      .box{
        background: #FFF;
        padding: 45px 0;
        text-align: right;
        box-shadow: 0 0 40px -15px;
        h3{
          text-align: center;
          font-family: 'Titillium Web';
          font-weight: 700px;
          font-size: 50px;
          color: #000;
          line-height: 62px;
        }
        h4{
          text-align: center;
          font-family: 'Elephant';
          font-size: 20px;
          color: #00B200;
          font-weight: 400;
          line-height: 29px;
        }
        form{
          max-width: 449px;
          width: 90%;
          margin: 20px auto 0;
          text-align: left;
          .ctc-hide{
            display: block;
          }
          .ctc-hide.g{
            display: none;
          }
          label{
            font-family: "Century Gothic";
            font-weight: 400;
            font-size: 14px;
            color: #888888;
          }
          .top-form{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            label{
              max-width: 217px;
              width: 49%;
            }
          }
          .ckbot{
            text-align: center;
            line-height: 120%;
          }
          input[type="text"], textarea{
            border-radius: 0;
            border: 1px solid #00B200;
            background: #E1F2DB;
          }
          input[type="text"]{height: 38px;}
          textarea{resize: none; height: 136px;}
          .btn{
            margin: 10px auto 0 0;
            background: #00B200;
            &:hover{
              background: #ddd;
            }
          }
        }
      }
    }
  }
}
