/*--------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------portfolio section------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#testimonials{
  padding: 72px 0 40px;
  overflow-x: hidden;
  .flex-container{
    max-width: 1400px;
    margin: 0 -200px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    .tLeft{
      position: relative;
      z-index: 1;
      max-width: 778px;
      width: 100%;
      margin: 0 -80px 0 0;
      h2{
        text-align: right;
        margin: 0 85px 0 0;
      }
      .box{
        background: #FFFFFF;
        padding: 43px 0 40px;
        text-align: left;
        box-shadow: 0 0 40px -15px;
        .testimonial{
          margin: 0 auto;
          max-width: 720px;
          width: 90%;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: flex-start;
          p{
            font-family: "Lato";
            font-weight: 400;
            font-style: italic;
            font-size: 14px;
            color: #545454;
            line-height: 20px;
            margin: 0 0 24px 5px;
            span{
              display: block;
              text-align: right;
              font-weight: 700;
              font-size: 16px;
              font-style: normal;
              color: #545454;
              &:nth-of-type(1){
                font-weight: 400;
                font-size: 24px;
                color: #00B200;
              }
            }
          }
          .btn{margin-top: -30px}
        }
      }
    }
  }
}
