/*--------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------tree service section----------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#tree-services{
  padding: 40px 0 0;
  .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    .tsLeft{
      position: relative;
      z-index: 1;
      margin: 0 -32px 0 48px;
      width: 100%;
      p.phone{
        text-align: center;
        max-width: 505px;
        width: 100%;
        margin: 0 0 122px;
        font-family: "Elephant";
        font-weight: 400;
        font-size: 25px;
        color: #000;
        span{
          display: block;
          border:1px solid #00B200;
          color: #00B200;
          font-size: 45px;
          padding: 10px 0;
        }
      }
      .box{
        background: #FFF;
        padding: 45px 0;
        text-align: right;
        box-shadow: 0 0 40px -15px;
        .text{
          max-width: 514px;
          width: 100%;
          margin: 0 auto;
          p{
            font-family: "Century Gothic";
            font-size: 15px;
            font-weight: 400;
            color: #444444;
            line-height: 24px;
            margin: 0 0 24px;
          }
        }
      }
    }
  }
}
