/*--------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------portfolio section------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#portfolio{
  padding: 46px 0 0;
  overflow-x: hidden;
  .flex-container{
    max-width: 1305px;
    margin: 0 0 0 -105px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    .pLeft{
      max-width: 855px;
      width: 100%;
      margin: 0 -5px 0 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .pRight{
      position: relative;
      z-index: 1;
      max-width: 475px;
      width: 100%;
      margin: 0 0 0 -20px;
      h2{text-align: left;margin-left: 30px;}
      .box{
        background: #FFF;
        padding: 27px 0 37px;
        box-shadow: 0 0 40px -15px;
        .text{
          max-width: 408px;
          width: 90%;
          margin: 0 auto;
          text-align: left;
          p{
            font-family: "Century Gothic";
            font-size: 15px;
            font-weight: 400;
            color: #444444;
            line-height: 24px;
            margin: 0 0 24px;
          }
        }
      }
    }
  }
}
