@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
	#header {padding: 0}
	#header .row {width: 100%}
  #header .desktop-nav {display: none;}
  #header .mobile-nav {display: block;}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000;list-style: none;margin: 0; padding: 0; background: #00B200}
  	#header nav ul li { width: 97.9%;position: relative; padding: 0 0 0 15px;}
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;font-family: "Century Gothic";font-weight: 700;font-size: 15px;color: #FFF;text-transform: uppercase;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
  #header .mainLogo2{max-width: 232px; width: 60%; margin-top: 40px;}
  #header .hdTop .flex-container .hdTopLeft, #header .hdTop .flex-container .hdTopMid, #header .hdTop .flex-container .hdTopRight{width: 100%; text-align: center;margin:5px 0}
  #banner{padding: 290px 0 58px;}
  #banner h1, #banner p.desc{text-shadow: 0 0 20px #000;}
  #banner p.phone{display: none}

  #welcome .flex-container .wlcRight h1 {font-size: 10vw}
  #welcome .flex-container .wlcRight h1 span{font-size: 7vw}

  #tree-services .flex-container .tsLeft .box{max-width: 572px; width: 100%;margin: 0 auto;}
  #tree-services .flex-container .tsLeft .box .text {width: 90%;}

  #services .container p.phone{font-size: 10vw;}

  #contact .flex-container .cntLeft .box form .top-form label{max-width: 100%!important;width: 100%!important}

  #testimonials .flex-container .tLeft h2{text-align: center!important;}

  #footer .flex-container .ft-Left, #footer .flex-container .ft-Mid, #footer .flex-container .ft-Right{width: 100%;}
  #footer .flex-container .ft-Left .text{text-align: center; margin: 0 auto;}
  #footer .flex-container .ft-Right .text{text-align: center; margin: 0 auto;}
  #footer .flex-container .ft-Left{order: 2}
  #footer .flex-container .ft-Mid{order: 1}
  #footer .flex-container .ft-Right{order: 3}
  .flex-container{flex-wrap: wrap!important;justify-content: space-around!important;}
  .mbImage{display: none;}
  .g-recaptcha{transform: scale(0.9);}
  .none{display: none!important;}
  .margin0{margin: 0!important;}
	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}
@media screen and (max-width:600px ){
  h1,h2{font-size: 10vw;}
  #banner h1{font-size: 6vw; line-height: 100%;}
  #banner p.desc{font-size: 5vw; line-height: 100%;}
}
