@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
	#welcome .flex-container .wlcRight h1 {font-size: 8vw}
  #welcome .flex-container .wlcRight h1 span{font-size: 5vw}
	#tree-services .flex-container .tsLeft p.phone span{background: #FFF;}
	#tree-services .flex-container .tsLeft {margin: 0 -230px 0 48px;}
	#tree-services .flex-container img{max-width: 612px;width: 51%; }
	#contact .flex-container img{max-width: 612px;width: 51%; }
	#portfolio .flex-container .pRight h2{text-align: center;margin-left: 0;}
	#portfolio .flex-container{flex-wrap: wrap;justify-content: space-around;margin: 0; flex-direction: column-reverse;}
	#portfolio .flex-container .pLeft{margin: 0; justify-content: space-around;}
	#portfolio .flex-container .pLeft img{margin: 10px;max-width: 282px; width: 30%;}
	#portfolio .flex-container .pRight{max-width: 97%; margin: 0;}
	#portfolio .flex-container .pRight .box .text{max-width: 90%;}
}
