@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Century Gothic'; src: url("fonts/CenturyGothic-Bold.woff2") format("woff2"), url("fonts/CenturyGothic-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Raleway'; src: url("fonts/Raleway-Medium.woff2") format("woff2"), url("fonts/Raleway-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Lato'; src: url("fonts/Lato-Italic.woff2") format("woff2"), url("fonts/Lato-Italic.woff") format("woff"); font-weight: normal; font-style: italic; }

@font-face { font-family: 'Raleway'; src: url("fonts/Raleway-Regular.woff2") format("woff2"), url("fonts/Raleway-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Century Gothic'; src: url("fonts/CenturyGothic.woff2") format("woff2"), url("fonts/CenturyGothic.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Elephant'; src: url("fonts/Elephant-Regular.woff2") format("woff2"), url("fonts/Elephant-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: Arial; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1200px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

.socialico { font-family: "socialico"; }

/*button*/
.btn { text-align: center; font-family: "Century Gothic"; font-size: 13px; font-weight: 400; letter-spacing: 4px; max-width: 178px; width: 100%; color: #FFF; display: inline-block; padding: 13px 0; background: #000; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

#content { background: url(../images/common/bgContent.jpg) no-repeat center top; background-size: cover; }

h1, h2 { font-family: "Elephant"; font-size: 60px; font-weight: 400; color: #00B200; line-height: 75px; }

/*header*/
#header { background: none; padding: 0; position: relative; z-index: 999; }

#header .hdTop { background: #00B200; padding: 1px 0; min-height: 37px; margin: 0 0 24px; }

#header .hdTop .flex-container { max-width: 1160px; width: 100%; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .hdTop .flex-container .hdTopLeft { width: 33.33333%; text-align: left; }

#header .hdTop .flex-container .hdTopLeft p { margin: 0 auto; color: #FFF; font-size: 26px; }

#header .hdTop .flex-container .hdTopLeft p span { display: inline-block; vertical-align: middle; font-family: "Century Gothic"; font-weight: 700; font-size: 13px; }

#header .hdTop .flex-container .hdTopMid { width: 33.33333%; text-align: center; }

#header .hdTop .flex-container .hdTopMid p { margin: 0 auto; color: #FFF; font-family: "Century Gothic"; font-size: 16; font-weight: 400; }

#header .hdTop .flex-container .hdTopMid p span { display: inline-block; vertical-align: middle; font-weight: 700; font-size: 13px; }

#header .hdTop .flex-container .hdTopRight { width: 33.33333%; text-align: right; }

#header .hdTop .flex-container .hdTopRight p { margin: 0 auto; color: #FFF; font-family: "Century Gothic"; font-weight: 700; font-size: 25px; }

#header .hdTop .flex-container .hdTopRight p span { display: inline-block; vertical-align: middle; font-size: 13px; }

#header .desktop-nav nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#header .desktop-nav nav a#pull { display: none; }

#header .desktop-nav nav img.mainLogo1 { max-width: 272px; width: 100%; }

#header .desktop-nav nav ul { margin: 0; padding: 0; }

#header .desktop-nav nav ul.nav-left { max-width: 370px; width: 100%; margin-top: 36px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#header .desktop-nav nav ul.nav-left li { display: inline-block; vertical-align: middle; }

#header .desktop-nav nav ul.nav-left li a { font-family: "Century Gothic"; font-weight: 400; font-size: 15px; color: #000000; padding: 16px 23px; text-transform: uppercase; }

#header .desktop-nav nav ul.nav-left li.active-menu a, #header .desktop-nav nav ul.nav-left li a:hover { color: #00B200; font-weight: 700; border: 1px solid #00B200; }

#header .desktop-nav nav ul.nav-right { max-width: 370px; width: 100%; margin-top: 36px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-align: space-between; -ms-flex-align: space-between; align-items: space-between; }

#header .desktop-nav nav ul.nav-right li { display: inline-block; vertical-align: middle; }

#header .desktop-nav nav ul.nav-right li a { font-family: "Century Gothic"; font-weight: 400; font-size: 15px; color: #000000; padding: 16px 23px; text-transform: uppercase; }

#header .desktop-nav nav ul.nav-right li.active-menu a, #header .desktop-nav nav ul.nav-right li a:hover { color: #00B200; font-weight: 700; border: 1px solid #00B200; }

#header .mobile-nav { display: none; }

/*banner*/
#banner { background: url(../images/common/banner.jpg) no-repeat center bottom; background-size: cover; padding: 604px 0 58px; margin: -272px 0 0; text-align: center; }

#banner h1 { font-family: "Elephant"; font-weight: 400; font-size: 55px; line-height: 69px; margin-bottom: 9px; color: #FFF; }

#banner p.desc { font-family: "Century Gothic"; font-weight: 400; font-size: 28px; color: #FFF; line-height: 38px; margin: 0 0 22px; }

#banner .button { text-align: center; max-width: 232px; width: 100%; font-family: "Century Gothic"; font-weight: 400; font-size: 22px; color: #FFF; padding: 13.5px 0; border: 1px solid #FFF; margin-bottom: 24px; display: inline-block; background: none; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

#banner .button:hover { background: #ddd; border: 1px solid #ddd; color: #000; }

#banner .phone { font-family: "Elephant"; font-weight: 400; font-size: 45px; line-height: 57px; color: #FFF; margin: 0; text-shadow: 0 0 20px #000, 0 0 20px #000; }

/*--------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------welcome section------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#welcome { padding: 69px 0 0; }

#welcome .flex-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#welcome .flex-container .img1 { max-width: 731px; width: 60%; }

#welcome .flex-container .wlcRight { margin: 0 0 0 -90px; max-width: 572px; width: 100%; }

#welcome .flex-container .wlcRight h1 { text-align: left; font-family: "Elephant"; font-weight: 400; font-size: 96px; color: #00B200; line-height: 80%; }

#welcome .flex-container .wlcRight h1 span { display: block; margin-left: 60px; font-size: 60px; color: #777777; }

#welcome .flex-container .wlcRight .box { margin: 10px 0 0 0; text-align: left; padding: 38px 0 45px; max-width: 572px; width: 100%; background: #FFF; -webkit-box-shadow: 0 0 40px -15px #000; box-shadow: 0 0 40px -15px #000; }

#welcome .flex-container .wlcRight .box .text { max-width: 514px; width: 90%; margin: 0 auto; }

#welcome .flex-container .wlcRight .box .text p { margin: 0 0 20px 0; font-family: "Century Gothic"; font-size: 15px; font-weight: 400; color: #444444; line-height: 24px; }

/*--------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------tree service section----------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#tree-services { padding: 40px 0 0; }

#tree-services .flex-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#tree-services .flex-container .tsLeft { position: relative; z-index: 1; margin: 0 -32px 0 48px; width: 100%; }

#tree-services .flex-container .tsLeft p.phone { text-align: center; max-width: 505px; width: 100%; margin: 0 0 122px; font-family: "Elephant"; font-weight: 400; font-size: 25px; color: #000; }

#tree-services .flex-container .tsLeft p.phone span { display: block; border: 1px solid #00B200; color: #00B200; font-size: 45px; padding: 10px 0; }

#tree-services .flex-container .tsLeft .box { background: #FFF; padding: 45px 0; text-align: right; -webkit-box-shadow: 0 0 40px -15px; box-shadow: 0 0 40px -15px; }

#tree-services .flex-container .tsLeft .box .text { max-width: 514px; width: 100%; margin: 0 auto; }

#tree-services .flex-container .tsLeft .box .text p { font-family: "Century Gothic"; font-size: 15px; font-weight: 400; color: #444444; line-height: 24px; margin: 0 0 24px; }

/*--------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------Our Services Section----------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#services { padding: 30px 0 0; }

#services .container { background: #FFF; -webkit-box-shadow: 0 0 40px -15px; box-shadow: 0 0 40px -15px; padding: 40px 0 50px; position: relative; }

#services .container .flex-container { max-width: 1160px; width: 95%; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#services .container .flex-container dl { position: relative; max-width: 270px; }

#services .container .flex-container dl dt img { width: 100%; }

#services .container .flex-container dl dd { position: relative; min-height: 90px; margin: 0; font-family: "Elephant"; font-size: 25px; font-weight: 400; color: #00B200; line-height: 34px; }

#services .container .flex-container dl dd span { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#services .container .flex-container dl::after { content: ''; width: 180px; height: 13px; background: #000; position: absolute; top: -6.5px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#services .container p.info1 { max-width: 709px; width: 100%; margin: 30px auto 0; font-family: "Century Gothic"; font-size: 25px; font-weight: 700; color: #444444; }

#services .container p.info2 { margin: 0 auto 10px; font-family: "Century Gothic"; font-size: 14px; font-weight: 700; color: #777777; }

#services .container p.phone { margin: 0 0 40px; font-family: "Elephant"; font-size: 45px; font-weight: 400; color: #00B200; }

#services .container .btn { position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); bottom: -22px; }

/*--------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------contact section------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#contact { padding: 94px 0 0; }

#contact .flex-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#contact .flex-container .cntLeft { position: relative; z-index: 1; margin: 0 -62px 0 48px; width: 100%; max-width: 508px; }

#contact .flex-container .cntLeft .box { background: #FFF; padding: 45px 0; text-align: right; -webkit-box-shadow: 0 0 40px -15px; box-shadow: 0 0 40px -15px; }

#contact .flex-container .cntLeft .box h3 { text-align: center; font-family: 'Titillium Web'; font-weight: 700px; font-size: 50px; color: #000; line-height: 62px; }

#contact .flex-container .cntLeft .box h4 { text-align: center; font-family: 'Elephant'; font-size: 20px; color: #00B200; font-weight: 400; line-height: 29px; }

#contact .flex-container .cntLeft .box form { max-width: 449px; width: 90%; margin: 20px auto 0; text-align: left; }

#contact .flex-container .cntLeft .box form .ctc-hide { display: block; }

#contact .flex-container .cntLeft .box form .ctc-hide.g { display: none; }

#contact .flex-container .cntLeft .box form label { font-family: "Century Gothic"; font-weight: 400; font-size: 14px; color: #888888; }

#contact .flex-container .cntLeft .box form .top-form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#contact .flex-container .cntLeft .box form .top-form label { max-width: 217px; width: 49%; }

#contact .flex-container .cntLeft .box form .ckbot { text-align: center; line-height: 120%; }

#contact .flex-container .cntLeft .box form input[type="text"], #contact .flex-container .cntLeft .box form textarea { border-radius: 0; border: 1px solid #00B200; background: #E1F2DB; }

#contact .flex-container .cntLeft .box form input[type="text"] { height: 38px; }

#contact .flex-container .cntLeft .box form textarea { resize: none; height: 136px; }

#contact .flex-container .cntLeft .box form .btn { margin: 10px auto 0 0; background: #00B200; }

#contact .flex-container .cntLeft .box form .btn:hover { background: #ddd; }

/*--------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------portfolio section------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#portfolio { padding: 46px 0 0; overflow-x: hidden; }

#portfolio .flex-container { max-width: 1305px; margin: 0 0 0 -105px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#portfolio .flex-container .pLeft { max-width: 855px; width: 100%; margin: 0 -5px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#portfolio .flex-container .pRight { position: relative; z-index: 1; max-width: 475px; width: 100%; margin: 0 0 0 -20px; }

#portfolio .flex-container .pRight h2 { text-align: left; margin-left: 30px; }

#portfolio .flex-container .pRight .box { background: #FFF; padding: 27px 0 37px; -webkit-box-shadow: 0 0 40px -15px; box-shadow: 0 0 40px -15px; }

#portfolio .flex-container .pRight .box .text { max-width: 408px; width: 90%; margin: 0 auto; text-align: left; }

#portfolio .flex-container .pRight .box .text p { font-family: "Century Gothic"; font-size: 15px; font-weight: 400; color: #444444; line-height: 24px; margin: 0 0 24px; }

/*--------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------portfolio section------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/
#testimonials { padding: 72px 0 40px; overflow-x: hidden; }

#testimonials .flex-container { max-width: 1400px; margin: 0 -200px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#testimonials .flex-container .tLeft { position: relative; z-index: 1; max-width: 778px; width: 100%; margin: 0 -80px 0 0; }

#testimonials .flex-container .tLeft h2 { text-align: right; margin: 0 85px 0 0; }

#testimonials .flex-container .tLeft .box { background: #FFFFFF; padding: 43px 0 40px; text-align: left; -webkit-box-shadow: 0 0 40px -15px; box-shadow: 0 0 40px -15px; }

#testimonials .flex-container .tLeft .box .testimonial { margin: 0 auto; max-width: 720px; width: 90%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#testimonials .flex-container .tLeft .box .testimonial p { font-family: "Lato"; font-weight: 400; font-style: italic; font-size: 14px; color: #545454; line-height: 20px; margin: 0 0 24px 5px; }

#testimonials .flex-container .tLeft .box .testimonial p span { display: block; text-align: right; font-weight: 700; font-size: 16px; font-style: normal; color: #545454; }

#testimonials .flex-container .tLeft .box .testimonial p span:nth-of-type(1) { font-weight: 400; font-size: 24px; color: #00B200; }

#testimonials .flex-container .tLeft .box .testimonial .btn { margin-top: -30px; }

/*footer*/
#footer { background: #000000; padding: 45px 0 20px; }

#footer .row { max-width: 1160px; }

#footer .flex-container { margin: 20px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#footer .flex-container .ft-Left, #footer .flex-container .ft-Mid, #footer .flex-container .ft-Right { width: 33.33333%; }

#footer .flex-container .ft-Left .text { text-align: left; max-width: 278px; margin: 30px auto 0 0; }

#footer .flex-container .ft-Left .text p { font-family: "Raleway"; font-weight: 500; font-size: 13px; color: #FFF; margin-bottom: 30px; }

#footer .flex-container .ft-Left .text p.phone span { margin-top: 10px; display: block; font-family: "Century Gothic"; font-size: 35px; font-weight: 700; }

#footer .flex-container .ft-Left .text p.email span { margin-top: 10px; display: block; font-family: "Century Gothic"; font-size: 16px; font-weight: 700; }

#footer .flex-container .ft-Mid { text-align: center; }

#footer .flex-container .ft-Mid img { max-width: 272px; width: 90%; }

#footer .flex-container .ft-Right { text-align: left; }

#footer .flex-container .ft-Right .text { margin: 30px 0 0 auto; max-width: 192px; }

#footer .flex-container .ft-Right .text p { font-family: "Raleway"; font-weight: 500; font-size: 13px; color: #FFF; margin-bottom: 30px; }

#footer .flex-container .ft-Right .text p span { margin-top: 10px; }

#footer .flex-container .ft-Right .text p span.we img { margin-top: 10px; }

#footer .flex-container .ft-Right .text p span.sm { display: block; font-size: 42px; letter-spacing: -4px; line-height: 32px; }

#footer .ft-nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0; max-width: 553px; margin: 50px auto 30px; }

#footer .ft-nav ul li a { font-family: "Raleway"; font-weight: 400; font-size: 15px; color: #FFF; text-transform: uppercase; }

#footer .copy, #footer .silver { font-family: "Century Gothic"; font-weight: 400; font-size: 14px; color: #FFF; margin: 5px auto; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1024px) { body { min-width: 320px; }
  .row { width: 95%; }
  #welcome .flex-container .wlcRight h1 { font-size: 8vw; }
  #welcome .flex-container .wlcRight h1 span { font-size: 5vw; }
  #tree-services .flex-container .tsLeft p.phone span { background: #FFF; }
  #tree-services .flex-container .tsLeft { margin: 0 -230px 0 48px; }
  #tree-services .flex-container img { max-width: 612px; width: 51%; }
  #contact .flex-container img { max-width: 612px; width: 51%; }
  #portfolio .flex-container .pRight h2 { text-align: center; margin-left: 0; }
  #portfolio .flex-container { -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; margin: 0; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }
  #portfolio .flex-container .pLeft { margin: 0; -ms-flex-pack: distribute; justify-content: space-around; }
  #portfolio .flex-container .pLeft img { margin: 10px; max-width: 282px; width: 30%; }
  #portfolio .flex-container .pRight { max-width: 97%; margin: 0; }
  #portfolio .flex-container .pRight .box .text { max-width: 90%; } }

@media screen and (max-width: 800px) { [class*="col-"] { width: 100%; }
  .sticky { position: fixed; top: 0; width: 100%; }
  #header { padding: 0; }
  #header .row { width: 100%; }
  #header .desktop-nav { display: none; }
  #header .mobile-nav { display: block; }
  #header nav { display: block; height: auto; }
  #header nav ul { width: 100%; display: none; height: auto; border-bottom: 5px solid #000; list-style: none; margin: 0; padding: 0; background: #00B200; }
  #header nav ul li { width: 97.9%; position: relative; padding: 0 0 0 15px; }
  #header nav ul li a { display: block; float: none; padding: 10px 0; }
  #header nav a { text-align: left; width: 100%; font-family: "Century Gothic"; font-weight: 700; font-size: 15px; color: #FFF; text-transform: uppercase; }
  #header nav a strong { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 15px; }
  #header nav a#pull { display: block; color: #fff; background-color: #000; height: 30px; padding: 10px 0; width: 100%; position: relative; }
  #header nav a#pull:after { content: ""; background: url("../images/nav-icon.png") no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
  #header .mainLogo2 { max-width: 232px; width: 60%; margin-top: 40px; }
  #header .hdTop .flex-container .hdTopLeft, #header .hdTop .flex-container .hdTopMid, #header .hdTop .flex-container .hdTopRight { width: 100%; text-align: center; margin: 5px 0; }
  #banner { padding: 290px 0 58px; }
  #banner h1, #banner p.desc { text-shadow: 0 0 20px #000; }
  #banner p.phone { display: none; }
  #welcome .flex-container .wlcRight h1 { font-size: 10vw; }
  #welcome .flex-container .wlcRight h1 span { font-size: 7vw; }
  #tree-services .flex-container .tsLeft .box { max-width: 572px; width: 100%; margin: 0 auto; }
  #tree-services .flex-container .tsLeft .box .text { width: 90%; }
  #services .container p.phone { font-size: 10vw; }
  #contact .flex-container .cntLeft .box form .top-form label { max-width: 100% !important; width: 100% !important; }
  #testimonials .flex-container .tLeft h2 { text-align: center !important; }
  #footer .flex-container .ft-Left, #footer .flex-container .ft-Mid, #footer .flex-container .ft-Right { width: 100%; }
  #footer .flex-container .ft-Left .text { text-align: center; margin: 0 auto; }
  #footer .flex-container .ft-Right .text { text-align: center; margin: 0 auto; }
  #footer .flex-container .ft-Left { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  #footer .flex-container .ft-Mid { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  #footer .flex-container .ft-Right { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
  .flex-container { -ms-flex-wrap: wrap !important; flex-wrap: wrap !important; -ms-flex-pack: distribute !important; justify-content: space-around !important; }
  .mbImage { display: none; }
  .g-recaptcha { -webkit-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); }
  .none { display: none !important; }
  .margin0 { margin: 0 !important; }
  .cta { background: #035B96 url("../images/common/phonecall.png") no-repeat center center; border-bottom-left-radius: 40px; border-top: 2px solid #013f9a; border-top-left-radius: 40px; bottom: 1%; display: block; height: 80px; position: fixed; right: 0; text-decoration: none; text-indent: -9999em; width: 100px; z-index: 999; } }

@media screen and (max-width: 600px) { h1, h2 { font-size: 10vw; }
  #banner h1 { font-size: 6vw; line-height: 100%; }
  #banner p.desc { font-size: 5vw; line-height: 100%; } }
